/* .sentence {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }
  .sentence- {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
   */